/*header*/
#header{
    background-color: black;
    height: 4em;
    text-align: center;
    line-height: 4em;
}

#header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#navbar_menu{
    line-height: 2em;
    height: 2em;
    display: flex;
    background-color: gray;
    justify-content: space-evenly;
}
#navbar_menu a{
    color: white;
}




@charset"utf-8";

/* ----------------------------------- font ----------------------------------- */
/* NEXON Lv2 Gothic */
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.ttf') format("truetype");
    font-display: swap;
}

/* SCoreDream */
@font-face {
    font-family: 'SCoreDream';
    font-weight: 100;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff) format('woff');
    font-display: swap;
}


.datepicker0 { width: 130px;}
.calendar { font-size: 0; background:url(../images/tablet/admin/calendar.svg) no-repeat center center; width: 24px; height: 24px; margin:-6px 0 0 -32px; vertical-align: middle;}

/* ----------------------------------- Common ----------------------------------- */
html,body {width:100%; box-sizing: border-box;}
html {overflow-x:hidden;}
*, *:before, *:after{box-sizing:inherit;}
*{
    -webkit-text-size-adjust:none;
    /*-webkit-text-size-adjust - auto | none | N% (default auto)*/
}
body {background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0; padding:0; word-break: break-all;}
article, aside, hgroup, header, footer, figure, figcaption, nav, section { display: block; }
fieldset,img {border:0px none; vertical-align:top;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
button {margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,th,td,input,select,textarea,button {font-size:16px; font-family: 'NexonLv2Gothic', 'SCoreDream'; color:#565656;}
input, select, textarea, button{vertical-align:middle; }
a:link,a:active,a:visited{color:#666; text-decoration:none; border:0px;}
a:hover,a:focus{color:#333; text-decoration:none}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed; width:100%;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
summary, caption, legend, hr {width:0; height:0; overflow: hidden; visibility: hidden; border: none; position:absolute; left:-1000em;}
caption {width: 1px; height: 1px; margin: -1px; border: none; clip: rect(0,0,0,0); overflow: hidden;}

/* label hidden 처리 */
.invisible, .hide{overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute;}
label.invisible{*position:absolute;}

/* input */
input[type="radio"],
input[type="checkbox"] {width: 18px; height: 18px; vertical-align:middle; margin: 0px 2px;}
input[type="radio"] + label,
input[type="checkbox"] + label { vertical-align: middle;}
input[type="checkbox"] + label { padding-left:8px}
input[type="button"] { cursor: pointer;}
label + select + label{margin-left:10px;}
textarea.input { height: auto;}
input[type="checkbox"] + label{cursor: pointer;}
input[type="text"], input[type="password"]{cursor: text; height: 46px; border-radius:5px; border: 1px solid #ddd; box-sizing:border-box; padding: 0 10px;}
input[type="button"] + input[type="button"]{margin-left:0;}
input[type="number"].input-number-password{-webkit-text-security: disc;}
input.input_txt{height: 46px; border-radius:5px; border: 1px solid #ddd; box-sizing:border-box; padding-left: 10px;}
select,.select_txt{height: 46px; border-radius:5px; border: 1px solid #ddd; box-sizing:border-box; padding-left: 10px;}

/*폼내부수정*/
#searchForm{margin-bottom: 20px;}
textarea{width: 100%; height: auto; border: 1px solid #ddd; border-radius: 10px; padding: 10px;}
#search_txt{width: unset;}
#passwordValidAlert{font-size: 13px; line-height: 18px; color: #1F325B; text-align: left; word-break: keep-all; margin-top: 3px;}
.jsDiv #manager_password,#manager_password_check{height: 40px; border-radius:5px; border: 1px solid #ddd; box-sizing:border-box; padding-left: 10px; width: 99%;}
.group_tit{font-size: 16px; color: #222; font-weight: 700; width: 60px; display: inline-block;}
#loc_1{margin-bottom: 5px;}
#loc_2{margin-bottom: 5px;}
#loc_3{margin-bottom: 5px;}
#sido{margin-bottom: 5px;}
#gugun{margin-bottom: 5px;}
#station_name{margin-bottom: 5px;}
#searchPostCodePopBtn{padding: 10px; background:#1F325B; color: #fff; padding: 3px 8px; border-radius:5px; font-size: 14px;}
#depthArea{display: inline-block;}
#depthArea select{margin-top: 5px;}
#startSymbolSel{margin-bottom: 5px;}
#endSymbolSel{margin-bottom: 5px;}
#searchTypeSel{margin-top: 5px;}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(152,152,152,0.8);
}
:-moz-placeholder { /* Firefox 18- */
    color: #999;
}

/*스크롤바 디자인*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* Button */
.btn {position:relative; overflow:hidden; display:inline-block; margin:0 4px; padding:12px 16px; background:#fff; text-align:center; font-size:15px; letter-spacing:-0.05em; color:#555; line-height:1.1; border-radius: 25px;}
.btn.bg_primary {background-color:#5F8DFF; border-color:#5F8DFF; color:#fff;}
.btn.bg_secondery{background-color:#1F325B; border-color:#1F325B; color:#fff; min-width: 85px; font-weight: 500;}
.btn.bg_accent {border-color:#80CAF9;background-color:#80CAF9; color:#fff; }
.btn.bg_gray {border-color: #999; background-color: #999; color: #fff;}
.btn.bg_deep { border-color:#333; background-color:#333; color:#fff;}
.btn.bg_deep_line { border:1px solid #333; background-color:#fff; color:#333;}
.btn.size_m {min-width:150px; height:40px;}
.btn.size_s {min-width:70px; height:32px; line-height:1.2}
.btn.size_auto {min-width:auto; height:40px; padding:10px; line-height:1.2}
.btn_big{width: 380px; height: 70px; color: #fff; font-size:26px; font-weight: bold; text-align: center; border-radius:20px; background: linear-gradient(180deg, #6137A4,#9D50BB);}
.btn:first-child {}
.btn:last-child {margin-right:0;}
.btn.button_block {display:block; width:100%; margin:0}
.btn[disabled] {color:#666; border-color:#e5e5e5; background:#e5e5e5; cursor:default;}
.btn[disabled]:hover i {color:inherit}
.btn[disabled]:hover:before {display:none}

.btn_area button{width: 70px; height: 35px; border-radius: 35px; text-align: center; line-height: 35px;font-size:16px; padding: 0; margin: 2px 5px;}
.btn_area .btn_edit{background: #5F8DFF; color: #fff; border: 1px solid #5F8DFF;}
.btn_area .btn_delete{border: 1px solid #5F8DFF; color: #5F8DFF;}
.btn_area .btn_delete:hover{background: none;}
.btn_area.left{display: flex; width: 200px;}
.btn_area.left button{flex: 1 !important; height: 40px !important;}
.btn_area.center button{width:120px; height: 40px;}
.btn_area.center input[type="button"]{width:120px; height: 40px;}

.btnArea{width: 70px; margin: 0 auto; margin-top: 20px; padding:0px 0px 30px 0;}
.btnArea button{width:70px; height: 32px; border-radius: 32px; text-align: center; line-height: 32px; margin: 0 auto; /*margin-right: 5px;*/}
.btnArea button:last-child{margin-right: 0;}
.btnArea button:nth-child(1){background:#5F8DFF; color: #fff;}

.btnArea02{width: 268px; margin: 0 auto; margin-top: 20px; padding:0px 0px 30px 0;}
.btnArea02 button{width:130px; height: 32px; border-radius: 32px; text-align: center; line-height: 32px; margin: 0 auto; margin-right: 5px;}
.btnArea02 button:last-child{margin-right: 0;}
.btnArea02 button:nth-child(1){background:#5F8DFF; color: #fff;}
.btnArea02 button:nth-child(2){background:#6577a3; color: #fff;}

.btnArea03{width: 406px; margin: 0 auto; margin-top: 20px; padding:0px 0px 30px 0;}
.btnArea03 button{width:130px; height: 32px; border-radius: 32px; text-align: center; line-height: 32px; margin: 0 auto; margin-right: 5px;}
.btnArea03 button:last-child{margin-right: 0;}
.btnArea03 button:nth-child(1){background:#5F8DFF; color: #fff;}
.btnArea03 button:nth-child(2){background:#6577a3; color: #fff;}
.btnArea03 button:nth-child(3){background:#6e7587; color: #fff;}


.mt10{margin-top: 10px;}

/* input width */
.input:hover,
.input:focus { border-color: #404040;}
.input02 { width: 2%}
.input03 { width: 3%}
.input04 { width: 4%}
.input05 { width: 5%}
.input06 { width: 6%}
.input07 { width: 7%}
.input08 { width: 8%}
.input09 { width: 9%}
.input10 { width: 10%}
.input15 { width: 15%}
.input20 { width: 20%}
.input25 { width: 25%}
.input30 { width: 30%}
.input35 { width: 35%}
.input40 { width: 40%}
.input45 { width: 45%}
.input50 { width: 50%}
.input55 { width: 55%}
.input60 { width: 60%}
.input65 { width: 65%}
.input70 { width: 70%}
.input75 { width: 75%}
.input76 { width: 76%}
.input77 { width: 77%}
.input80 { width: 80%}
.input83 { width: 83%}
.input85 { width: 85%}
.input86 { width: 86%}
.input87 { width: 87%}
.input88 { width: 88%}
.input89 { width: 89%}
.input90 { width: 90%}
.input95 { width: 95%}
.input98 { width: 98%}
.input99 { width: 99%}

/* defult width */
.width02,
.width03,
.width04,
.width05,
.width06,
.width07,
.width08,
.width09,
.width10,
.width15,
.width20,
.width25,
.width30,
.width35,
.width40,
.width45,
.width50,
.width55,
.width60,
.width65,
.width70,
.width75,
.width80,
.width85,
.width86,
.width87,
.width88,
.width89,
.width90,
.width95,
.width98 { position: relative; margin: 0 auto;}

.width02 { width: 2%}
.width03 { width: 3%}
.width04 { width: 4%}
.width05 { width: 5%}
.width06 { width: 6%}
.width07 { width: 7%}
.width08 { width: 8%}
.width09 { width: 9%}
.width10 { width: 10%}
.width15 { width: 15%}
.width20 { width: 20%}
.width25 { width: 25%}
.width30 { width: 30%}
.width35 { width: 35%}
.width40 { width: 40%}
.width45 { width: 45%}
.width50 { width: 50%}
.width55 { width: 55%}
.width60 { width: 60%}
.width65 { width: 65%}
.width70 { width: 70%}
.width75 { width: 75%}
.width80 { width: 80%}
.width85 { width: 85%}
.width86 { width: 86%}
.width87 { width: 87%}
.width88 { width: 88%}
.width89 { width: 89%}
.width90 { width: 90%}
.width95 { width: 95%}
.width98 { width: 98%}

.mt5{margin-top: 5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}


/* content common */
.clfix:after {content: "."; display: block; height:0px; clear: both; visibility: hidden;}
.clfix {display:inline-block;}
.clfix {display:block;}
* html .clfix {height:1%;} /* Hides from IE-mac */
.clfix {zoom:1;} /*for IE 5.5-7*/

#wrap{width:100%;}
.center{text-align:center;}
.hidden{visibility: hidden; display: none;}
#layer{z-index: 10;}

/* table */
/* 테이블 기본형태에서 스크롤 생겨야할때 table바깥에 둘러싸는 div */
.tbl_scroll{width: 100%;  overflow:auto;}
.tbl_scroll table{width: auto; min-width:100%;}

.table {width:100%; border-top:1px solid #1F325B;}
.table th {background:#F4F7FE; font-size:16px; color:#222; font-weight:700; text-align:left; padding:15px; border-bottom:1px solid #eaeaea; word-break: break-all;}
.table th.bg_purple{background:#FCF9FD; color: #343434; font-weight: 500;}
.table td {font-size:16px; color:#666; text-align:left;  padding:10px 15px; background:#fff; border-bottom:1px solid #eaeaea; vertical-align: middle; word-break: break-all;}
.table td label{color: #666;}
.table td.center{text-align: center !important;}
.table th.center{text-align: center !important;}

/*td 첫번째 자식요소를 제외한 나머지 td들이 적용됨 */
.table th:not(:first-child) { border-left: 1px solid #eaeaea; }
.table td:not(:first-child) { border-left: 1px solid #eaeaea; }

/*rowspan td 마지막 자식요소를 제외한 나머지 td들이 적용됨 */
.table th:not(:last-child)[rowspan] { border-right: 1px solid #eaeaea;}
.table td:not(:last-child)[rowspan] { border-right: 1px solid #eaeaea;}
.table.center th{text-align: center;}
.table.center td{text-align: center;}

.table_white{border-top: 1px solid #eaeaea;}


/* 로딩 */
#loadingWrap { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background:rgba(0,0,0,0.6); z-index: 1000; text-align: center;}
.loadingInner{position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); width:70%; transition:all .3s;}
.loadingWrap p { margin-top: 15px; font-weight: 500; font-size: 24px; opacity: .8; color: #fff; letter-spacing: 0;}
#loading {  display: inline-block; width:100px; height:100px; border:16px solid rgba(255,255,255,0.5); margin-top: 250px;
    border-radius: 50%; border-top-color: #5F8DFF; animation: spin 1s ease-in-out infinite; -webkit-animation: spin 1s ease-in-out infinite;}
#loading p { font-size: 24px; font-weight: 600;}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}


/* paging */
.pageNav{text-align:center; box-sizing:border-box;}
.pageNav:before, .paging_wrap:after{box-sizing:inherit;}
.paging{display:inline-block; font-size:0; margin:40px 0; }
.paging button{display:inline-block; margin:0 5px; vertical-align:middle; transition:all 0.3s ease-in-out; width:36px; height:36px; border:1px solid #ddd;  font-size:13px; color:#888; line-height:25px;  border-radius: 25px;}
.paging button.on{background:#5F8DFF; border-radius: 25px; color:#ffffff; font-weight: 500; border:1px solid #5F8DFF;}

.paging button.pageFirst{background: url(../images/robot/admin/bg_pageFirst.svg)center no-repeat; font-size: 0;}
.paging button.pageBefore{background: url(../images/robot/admin/bg_pageBefore.svg)center no-repeat; font-size: 0;}
.paging button.pageNext{background: url(../images/robot/admin/bg_pageNext.svg)center no-repeat; font-size: 0;}
.paging button.pageLast{background: url(../images/robot/admin/bg_pageLast.svg)center no-repeat; font-size: 0;}

.paging button.pageFirst.on{background: #5F8DFF url(../images/robot/admin/bg_pageFirst_on.svg)center no-repeat;}
.paging button.pageBefore.on{background: #5F8DFF url(../images/robot/admin/bg_pageBefore_on.svg)center no-repeat;}
.paging button.pageNext.on{background: #5F8DFF url(../images/robot/admin/bg_pageNext_on.svg)center no-repeat;}
.paging button.pageLast.on{background: #5F8DFF url(../images/robot/admin/bg_pageLast_on.svg)center no-repeat;}


/*error page*/
.errorPage{width: 100%;}
.errorPage .inner{width: 1200px; margin: 0 auto; text-align: center; padding-top: 100px;}
.errorPage h4{font-size: 30px; color: #333; line-height: 40px; margin:40px 0 20px 0;}
.errorPage p{font-size: 16px; line-height: 25px; color: #666; word-break: keep-all;}
.errorPage .errorPage_btn{margin-top: 40px;}
.errorPage .errorPage_btn input[type="button"]{background: #2b3872; color: #fff; border: none; outline: none;}
.errorPage .errorPage_btn input[type="button"]{background: #fff; border: 1px solid #2b3872; color: #2b3872;}


/* 필수 값 표시 */
.must { background-color: #f34784; width: 5px; height: 5px; display: inline-block; font-size: 0; padding: 0; line-height: 0; margin: 0 4px; vertical-align: top;}

.file_txt p{color:#4E7DF2; font-size:13px; margin-top: 10px;}
.datepicker_area input.datepicker0{width: 200px !important;}
.datepicker_area .date_line{margin: 0 4px 0 10px;}
.mt50{margin-top: 50px;}

.sortable,
.sortUp,
.sortDn { background: url('../images/sortAble.png') no-repeat 95% center; padding-right: 14px; }
.sortDn span{font-size: 0; vertical-align: middle;}
.sortUp span{font-size: 0; vertical-align: middle;}

.sortUp { background-image: url('../images/sortUp.png');}
.sortDn { background-image: url('../images/sortDn.png');}

@media screen and (min-width: 1025px) and (max-width: 1399px){
    #wrap{position:relative; width:100%; margin:0 auto; overflow:hidden;}
    .btn_area button{width: 50px; height: 30px; border-radius: 30px; font-size: 14px; line-height: 28px; margin: 2px 5px;}
}


/* tab */
@media (max-width: 1024px) {
    #wrap{position:relative; width:100%; margin:0 auto;}
    .btn_area button{width: 50px; height: 30px; border-radius: 30px; font-size: 14px; line-height: 28px; margin: 2px 5px;}
    .btn_big{width: 100%; height: 60px; border-radius: 10px; font-size: 24px;}

    /*error page*/
    .errorPage{width: 100%;}
    .errorPage .inner{padding: 0 3%; width: 100%; padding-top: 100px;}
    .errorPage img{width: 500px;}
    .errorPage h4{font-size: 24px; line-height: 34px;}

    /*폼내부수정*/
    .group_tit{font-size: 14px; width: 60px; display:block; margin-bottom: 5px;}
}


/* mob */
@media (max-width: 768px) {

    body,th,td,input,select,textarea,button {font-size:14px;}
    input[type="text"]{height: 35px;}
    input.input_txt{height: 35px;}
    select,.select_txt{height: 35px;}
    .btn:first-child {margin-left: 0px;}

    /*폼내부버튼*/
    #searchPostCodePopBtn{font-size: 12px; margin-top: 5px;}

    /* table */
    /* 테이블 기본형태에서 스크롤 생겨야할때 table바깥에 둘러싸는 div */
    .table th { font-size: 14px; padding:13px;}
    .table td {font-size:13px; padding:8px;}

    .btn_area .btn_edit{margin-bottom: 5px;}
    .btn_area .btn_delete{margin-left:0px;}

    /*error page*/
    .errorPage{width: 100%;}
    .errorPage .inner{padding: 0 3%; width: 100%; padding-top: 50px;}
    .errorPage img{width: 300px;}
    .errorPage h4{font-size: 20px; line-height: 30px; margin: 30px 0 15px 0;}

    /*폼내부수정*/
    #passwordValidAlert{font-size: 12px; line-height: 16px;}

    /*버튼*/
    .btnArea02{width: 225px; padding:0px 0px 20px 0;}
    .btnArea02 button{width:110px; height: 32px; border-radius: 32px; text-align: center; line-height: 32px; margin-right: 5px;}

    .btnArea03{width: 130px; padding:0px 0px 20px 0;}
    .btnArea03 button{width:130px; height: 32px; border-radius: 32px; text-align: center; line-height: 32px; display: block; margin-bottom: 5px;}
    .btnArea03 button:last-child{margin-bottom: 0;}

}
